/* ============================= */
/*  SLIDE MENU GLOBAL            */
/* ============================= */


.filter {
    height: 100%;
    width: 240px;
    position: fixed;
    right: -240px;
    top: 0;
    background: #fff;
    z-index: 1100;
    transition: right 0.4s ease;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

body.filtermenu-open .filter {
    right: 0;
    box-shadow: -5px 0 15px rgba(0,0,0,.25);
}

/* tombol */
.filter-btn {
    margin-top: 24px;
}

/* menu list */
.mobile-menu-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}

.mobile-menu-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 16px;
    border-radius: 14px;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    color: #1f2937;
}

.menu-icon {
    font-size: 26px;
    color: #02910b; /* side menu icon color */
}

.menu-label {
    font-size: .95rem;
    font-weight: 600;
    color: #1f2937; /* side menu text color */
}
.mobile-menu-item.active {
    background: #ffd000;
}

.mobile-menu-item.active .menu-icon {
    color: #ffffff; /* side menu icon color active */
}

.mobile-menu-item.active .menu-label {
    color: #ffffff; /* side menu text color active*/
    font-weight: 700;
}
